<div class="row clearfix">
  <div class="col-md-12 column">
    <ul class="breadcrumb">
      <li><%= link_to root_path do %>
	  <span class="glyphicon glyphicon-home"></span>
	  <% end %>
          <%= link_to 'Accueil', root_path %>
      </li>
      <li class="active">Dossiers</li>
    </ul>
  </div>
</div>

<div class="row clearfix">
  <div class="col-md-12 column">
    <div class="page-header pagetitle">
     <h1>
       <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Dossiers
     </h1>
    </div>
  </div>
</div>


<div class="row clearfix">
  <div class="col-md-8 column">
    <div class="table-responsive margintop20">
	<table class="table table-striped table-hover">
	  <thead>
	    <tr  class="info">
	      <th>Raison sociale</th>
	      <th>SIRET</th>
	      <th>Forme juridique</th>
	      <th>Code NAF</th>
	      <th>R&eacute;gime fiscal</th>
	      <th>Activite principale</th>
	      <th></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @dossiers.each do |dossier| %>
	      <tr>
		<td data-link="<%= dossier_path(dossier) %>"><%= dossier.raison_sociale %></td>
		<td  data-link="<%= dossier_path(dossier) %>"><%= dossier.siren %><%= dossier.nic %></td>
		<td  data-link="<%= dossier_path(dossier) %>"><%= dossier.forme_juridique %></td>
		<td  data-link="<%= dossier_path(dossier) %>"><%= dossier.code_naf %></td>
		<td  data-link="<%= dossier_path(dossier) %>"><%= dossier.regime_fiscal_id %></td>
		<td  data-link="<%= dossier_path(dossier) %>"><%= dossier.activite_principale %></td>
		<td><%= link_to '&Eacute;diter le dossier'.html_safe, edit_dossier_path(dossier), :class => "btn btn-success btn-xs" %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
    </div>
  </div>
  <div class="col-md-4 column">
  <h1><%= link_to 'Nouveau Dossier', new_dossier_path, :class => "btn btn-primary btn-lg" %></h1>
  </div>
 
</div>










